# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Django
backend/staticfiles/

# Environment variables
.env

# SQLite database
*.sqlite3

# Node
node_modules/

# IDE
.vscode/
